<html>
<head>
    <title>用户注册</title>
</head>
<body>
  <center>
    <form method="post" action="/user/signup">
      用户名：<input type="text" name="userName"><br>
      手机号：<input type="text" name="phoneNumber"><br>
      邮箱  ：<input type="text" name="email"><br>
      密码  ：<input type="password" name="passWord"><br>
       <button type="submit">提交</button>
    </form>
  </center>
</body>